<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/app.css" />
    <title>BWC Homepage</title>
  </head>
  <body>
    <header>
      <img id="logo" src="BWC Logo.jpg" alt="Beaver Wood Carvers Logo" />
      <h1 id="name">Beaver Wood Carvers</h1>
      <nav class="main_nav">
        <ul class="main_menu">
          <li id="main">Family Signs</li>
          <li id="main">Business Signs</li>
          <li id="main">Address Sgns</li>
          <li id="main">Cutting Boards</li>
          <li id="main">Misc Signs</li>
          <li id="main">Custom Design</li>
        </ul>
      </nav>
    </header>
    
    <h2 id="body-header">Many Categories To Choose From</h2>
    <nav>
      <a href="/auth/signup">Sign Up</a>
      <a href="/auth/login">Log In</a>
      <a href="/auth/logout">Log Out</a>
      <a href="/products/">Products Page</a>
    </nav>
        <footer>
          <ul id="footer_menu">
            <li id="footer">Our Story</li>
            <li id="footer">Categories</li>
            <li id="footer">Helpful Links</li>
            <li id="footer">Contact Us</li>
          </ul>
        </footer>
        </body>
  </body>
</html>
