<!DOCTYPE html>
<!--
	Snapshot by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
  <head>
    <title>Beaver Wood Carvers</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="assets/css/main.css" />
    <link
      id="favicon"
      rel="shortcut icon"
      type="image/png"
      href="/images/BWC_Logo.jpg"
    />
  </head>

  <body>
    <div class="page-wrap">
      <!-- Nav -->
      <nav id="nav">
        <ul>
          <li>
            <a href="/" class="active"
              ><span class="icon fa-home" title="Home"></span
            ></a>
          </li>
          <% if (userId == undefined) { %>
          <li>
            <a href="/auth/login"
              ><span class="icon fa-sign-in" title="Log In"></span
            ></a>
          </li>
          <li>
            <a href="/auth/signup"
              ><span class="icon fa-user-plus" title="Sign Up"></span
            ></a>
          </li>
          <% } else {%>
          <li>
            <a href="/auth/logout"
              ><span class="icon fa-sign-out" title="Log Out"></span
            ></a>
          </li>

          <li>
            <a href="/customers/profile/<%=userId%>"
              ><span class="icon fa-user" title="My Account"></span
            ></a>
          </li>
          <%}%>
        </ul>
      </nav>

      <!-- Main -->
      <section id="main">
        <!-- Banner -->
        <section id="banner">
          <div class="inner">
            <h1>Welcome to Beaver Wood Carvers</h1>
            <p>
              Specializing in custom designed signs
            </p>
            <ul class="actions">
              <li>
                <a href="#galleries" class="button alt scrolly big">Continue</a>
              </li>
            </ul>
          </div>
        </section>

        <!-- Gallery -->
        <section id="galleries">
          <!-- Photo Galleries -->
          <div class="gallery">
            <header class="special">
              <h2>What's New</h2>
            </header>
            <div class="content">
              <div class="media">
                <a
                  href="https://res.cloudinary.com/dgvmjgamo/image/upload/v1596645989/116337907_1423919304458718_4474270081376626880_n_uzucjp.jpg"
                  ><img
                    src="https://res.cloudinary.com/dgvmjgamo/image/upload/v1596760050/thumbnail_cuttingboard_larvdl.jpg"
                    alt=""
                    title="Walnut Cuttingboard with exotic wood inlays"
                /></a>
              </div>
              <div class="media">
                <a
                  href="https://res.cloudinary.com/dgvmjgamo/image/upload/v1596645990/115984238_1423921667791815_9085128093895382435_n_ggagk0.jpg"
                  ><img
                    src="https://res.cloudinary.com/dgvmjgamo/image/upload/v1596759967/thumbnail_Monogram_Lerwick_kcnpo8.jpg"
                    alt=""
                    title="Curly Maple Monogram sign with Walnut inlay."
                /></a>
              </div>
              <div class="media">
                <a
                  href="https://res.cloudinary.com/dgvmjgamo/image/upload/v1596648683/61833202_1066950543488931_3348754716149415936_o_wzs3ir.jpg"
                  ><img
                    src="https://res.cloudinary.com/dgvmjgamo/image/upload/v1596759745/thumbnail-John_Deere_Edgelit_sign_kccs4x.jpg"
                    alt=""
                    title="LED Edgelit sign with Oak base"
                /></a>
              </div>
              <div class="media">
                <a
                  href="https://res.cloudinary.com/dgvmjgamo/image/upload/v1596760629/116054037_1423922641125051_5028933897574745306_n_ywegf9.jpg"
                  ><img
                    src="https://res.cloudinary.com/dgvmjgamo/image/upload/v1596760208/thumbnail_Wisconsin_clock_lloerb.jpg"
                    alt=""
                    title="Wisconsin Clock - Elm with Mahogany Inlay"
                /></a>
              </div>
              <!-- <div class="media">
                <a href="images/fulls/06.jpg"
                  ><img
                    src="images/thumbs/06.jpg"
                    alt=""
                    title="This right here is a caption."
                /></a>
              </div>
              <div class="media">
                <a href="images/fulls/10.jpg"
                  ><img
                    src="images/thumbs/10.jpg"
                    alt=""
                    title="This right here is a caption."
                /></a>
              </div>
              <div class="media">
                <a href="images/fulls/03.jpg"
                  ><img
                    src="images/thumbs/03.jpg"
                    alt=""
                    title="This right here is a caption."
                /></a>
              </div>
              <div class="media">
                <a href="images/fulls/07.jpg"
                  ><img
                    src="images/thumbs/07.jpg"
                    alt=""
                    title="This right here is a caption."
                /></a>
              </div> -->
            </div>
            <footer>
              <a href="/products/" class="button big">Products</a>
            </footer>
          </div>
        </section>

        <!-- Contact -->
        <section id="contact">
          <!-- Social -->
          <div class="social column">
            <h3>About Beaver Wood Carvers</h3>
            <p>
              Beaver Wood Cavers, located in Beaver Dam, Wisconsin specializes
              in making one of a kind signs and other unique products mainly
              from wood. Our products are mainly signs but also include cutting
              boards and shadowboxes. We also offer a variety of edge lit
              acrylic signs or displays that are lit by LED lights. We would
              love to create something special for you. Feel free to contact us
              if you have something in mind that we can help you make a reality.
            </p>
            <div class="logo">
              <a><img src="/images/BWC_Logo.jpg" alt="" /></a>
            </div>

            <h3>Follow Me</h3>
            <ul class="icons">
              <li>
                <a href="#" class="icon fa-twitter"
                  ><span class="label">Twitter</span></a
                >
              </li>
              <li>
                <a href="#" class="icon fa-facebook"
                  ><span class="label">Facebook</span></a
                >
              </li>
              <li>
                <a href="#" class="icon fa-instagram"
                  ><span class="label">Instagram</span></a
                >
              </li>
            </ul>
          </div>

          <!-- Form -->
          <div class="column">
            <h3>Get in Touch</h3>
            <form action="#" method="post">
              <div class="field half first">
                <label for="name">Name</label>
                <input name="name" id="name" type="text" placeholder="Name" />
              </div>
              <div class="field half">
                <label for="email">Email</label>
                <input
                  name="email"
                  id="email"
                  type="email"
                  placeholder="Email"
                />
              </div>
              <div class="field">
                <label for="message">Message</label>
                <textarea
                  name="message"
                  id="message"
                  rows="6"
                  placeholder="Message"
                ></textarea>
              </div>
              <ul class="actions">
                <li>
                  <input value="Send Message" class="button" type="submit" />
                </li>
              </ul>
            </form>
          </div>
        </section>

        <!-- Footer -->
        <footer id="footer">
          <div class="copyright">
            &copy; Untitled Design:
            <a href="https://templated.co/">TEMPLATED</a>. Images:
            <a href="https://unsplash.com/">Unsplash</a>.
          </div>
        </footer>
      </section>
    </div>

    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/jquery.poptrox.min.js"></script>
    <script src="assets/js/jquery.scrolly.min.js"></script>
    <script src="assets/js/skel.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>
  </body>
</html>
